{
    "swagger": "2.0",
    "info": {
        "description": "Maritime vessel tracking and marine navigation data API providing real-time AIS data, vessel information, port events, and nautical infrastructure locations",
        "title": "Vessel Tracking API",
        "contact": {},
        "version": "1.0"
    },
    "host": "api.vesselapi.com",
    "basePath": "/v1",
    "paths": {
        "/emissions": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieves emissions data with optional filtering by reporting period",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Vessel Emissions"
                ],
                "summary": "List emissions data",
                "parameters": [
                    {
                        "type": "integer",
                        "example": 2024,
                        "description": "Reporting year filter (e.g. 2024)",
                        "name": "filter.period",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Maximum number of items to return, must be between 0 and 50",
                        "name": "pagination.limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Pagination token for retrieving the next page of results",
                        "name": "pagination.nextToken",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/VesselEmissionsResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/location/dgps/bounding-box": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieves Dgps stations within a specified bounding box. Max span: |dLat| + |dLon| ≤ 4 degrees",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Navigation Infrastructure"
                ],
                "summary": "Get DGPS Stations within a bounding box",
                "parameters": [
                    {
                        "type": "number",
                        "example": 7,
                        "description": "Longitude of the left (western) edge of the bounding box",
                        "name": "filter.lonLeft",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "example": 9,
                        "description": "Longitude of the right (eastern) edge of the bounding box",
                        "name": "filter.lonRight",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "example": 55,
                        "description": "Latitude of the bottom (southern) edge of the bounding box",
                        "name": "filter.latBottom",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "example": 56,
                        "description": "Latitude of the top (northern) edge of the bounding box",
                        "name": "filter.latTop",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Maximum number of items to return, must be between 0 and 50",
                        "name": "pagination.limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token for next page",
                        "name": "pagination.nextToken",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DGPSStationsWithinLocationResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/location/dgps/radius": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieves Dgps stations within a specified radius of a given point",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Navigation Infrastructure"
                ],
                "summary": "Get DGPS Stations within a radius",
                "parameters": [
                    {
                        "type": "number",
                        "example": 8.084,
                        "description": "Longitude of the center point",
                        "name": "filter.longitude",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "example": 55.558,
                        "description": "Latitude of the center point",
                        "name": "filter.latitude",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "example": 10000,
                        "description": "Search radius in meters (max 100,000 = 100 km)",
                        "name": "filter.radius",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Maximum number of items to return, must be between 0 and 50",
                        "name": "pagination.limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token for next page",
                        "name": "pagination.nextToken",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DGPSStationsWithinLocationResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/location/lightaids/bounding-box": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieves Light Aids to Navigation within a specified bounding box. Max span: |dLat| + |dLon| ≤ 4 degrees",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Navigation Infrastructure"
                ],
                "summary": "Get Light Aids to Navigation within a bounding box",
                "parameters": [
                    {
                        "type": "number",
                        "example": 4,
                        "description": "Longitude of the left (western) edge of the bounding box",
                        "name": "filter.lonLeft",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "example": 5,
                        "description": "Longitude of the right (eastern) edge of the bounding box",
                        "name": "filter.lonRight",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "example": 51,
                        "description": "Latitude of the bottom (southern) edge of the bounding box",
                        "name": "filter.latBottom",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "example": 52,
                        "description": "Latitude of the top (northern) edge of the bounding box",
                        "name": "filter.latTop",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Maximum number of items to return, must be between 0 and 50",
                        "name": "pagination.limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token for next page",
                        "name": "pagination.nextToken",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/LightAidsWithinLocationResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/location/lightaids/radius": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieves Light Aids to Navigation within a specified radius of a given point",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Navigation Infrastructure"
                ],
                "summary": "Get Light Aids to Navigation within a radius",
                "parameters": [
                    {
                        "type": "number",
                        "example": 4.5,
                        "description": "Longitude of the center point",
                        "name": "filter.longitude",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "example": 51.5,
                        "description": "Latitude of the center point",
                        "name": "filter.latitude",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "example": 100000,
                        "description": "Search radius in meters (max 100,000 = 100 km)",
                        "name": "filter.radius",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Maximum number of items to return, must be between 0 and 50",
                        "name": "pagination.limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token for next page",
                        "name": "pagination.nextToken",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/LightAidsWithinLocationResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/location/modu/bounding-box": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieves Mobile Offshore Drilling Units within a specified bounding box. Max span: |dLat| + |dLon| ≤ 4 degrees",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Navigation Infrastructure"
                ],
                "summary": "Get Mobile Offshore Drilling Units within a bounding box",
                "parameters": [
                    {
                        "type": "number",
                        "example": -89,
                        "description": "Longitude of the left (western) edge of the bounding box",
                        "name": "filter.lonLeft",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "example": -88,
                        "description": "Longitude of the right (eastern) edge of the bounding box",
                        "name": "filter.lonRight",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "example": 28,
                        "description": "Latitude of the bottom (southern) edge of the bounding box",
                        "name": "filter.latBottom",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "example": 29,
                        "description": "Latitude of the top (northern) edge of the bounding box",
                        "name": "filter.latTop",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Maximum number of items to return, must be between 0 and 50",
                        "name": "pagination.limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token for next page",
                        "name": "pagination.nextToken",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MODUsWithinLocationResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/location/modu/radius": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieves Mobile Offshore Drilling Units within a specified radius of a given point",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Navigation Infrastructure"
                ],
                "summary": "Get Mobile Offshore Drilling Units within a radius",
                "parameters": [
                    {
                        "type": "number",
                        "example": -88.5,
                        "description": "Longitude of the center point",
                        "name": "filter.longitude",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "example": 28.2,
                        "description": "Latitude of the center point",
                        "name": "filter.latitude",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "example": 50000,
                        "description": "Search radius in meters (max 100,000 = 100 km)",
                        "name": "filter.radius",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Maximum number of items to return, must be between 0 and 50",
                        "name": "pagination.limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token for next page",
                        "name": "pagination.nextToken",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MODUsWithinLocationResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/location/ports/bounding-box": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieves Ports within a specified bounding box. Max span: |dLat| + |dLon| ≤ 4 degrees",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Ports"
                ],
                "summary": "Get Ports within a bounding box",
                "parameters": [
                    {
                        "type": "number",
                        "example": 4,
                        "description": "Longitude of the left (western) edge of the bounding box",
                        "name": "filter.lonLeft",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "example": 5,
                        "description": "Longitude of the right (eastern) edge of the bounding box",
                        "name": "filter.lonRight",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "example": 51,
                        "description": "Latitude of the bottom (southern) edge of the bounding box",
                        "name": "filter.latBottom",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "example": 52,
                        "description": "Latitude of the top (northern) edge of the bounding box",
                        "name": "filter.latTop",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Maximum number of items to return, must be between 0 and 50",
                        "name": "pagination.limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token for next page",
                        "name": "pagination.nextToken",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PortsWithinLocationResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/location/ports/radius": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieves Ports within a specified radius of a given point",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Ports"
                ],
                "summary": "Get Ports within a radius",
                "parameters": [
                    {
                        "type": "number",
                        "example": 4.5,
                        "description": "Longitude of the center point",
                        "name": "filter.longitude",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "example": 51.5,
                        "description": "Latitude of the center point",
                        "name": "filter.latitude",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "example": 100000,
                        "description": "Search radius in meters (max 100,000 = 100 km)",
                        "name": "filter.radius",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Maximum number of items to return, must be between 0 and 50",
                        "name": "pagination.limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token for next page",
                        "name": "pagination.nextToken",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PortsWithinLocationResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/location/radiobeacons/bounding-box": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieves Radio Beacons within a specified bounding box. Max span: |dLat| + |dLon| ≤ 4 degrees",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Navigation Infrastructure"
                ],
                "summary": "Get Radio Beacons within a bounding box",
                "parameters": [
                    {
                        "type": "number",
                        "example": -1,
                        "description": "Longitude of the left (western) edge of the bounding box",
                        "name": "filter.lonLeft",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "example": 1,
                        "description": "Longitude of the right (eastern) edge of the bounding box",
                        "name": "filter.lonRight",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "example": 50,
                        "description": "Latitude of the bottom (southern) edge of the bounding box",
                        "name": "filter.latBottom",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "example": 51,
                        "description": "Latitude of the top (northern) edge of the bounding box",
                        "name": "filter.latTop",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Maximum number of items to return, must be between 0 and 50",
                        "name": "pagination.limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token for next page",
                        "name": "pagination.nextToken",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/RadioBeaconsWithinLocationResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/location/radiobeacons/radius": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieves Radio Beacons within a specified radius of a given point",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Navigation Infrastructure"
                ],
                "summary": "Get Radio Beacons within a radius",
                "parameters": [
                    {
                        "type": "number",
                        "example": -0.1,
                        "description": "Longitude of the center point",
                        "name": "filter.longitude",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "example": 50.8,
                        "description": "Latitude of the center point",
                        "name": "filter.latitude",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "example": 100000,
                        "description": "Search radius in meters (max 100,000 = 100 km)",
                        "name": "filter.radius",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Maximum number of items to return, must be between 0 and 50",
                        "name": "pagination.limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token for next page",
                        "name": "pagination.nextToken",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/RadioBeaconsWithinLocationResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/location/vessels/bounding-box": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieves vessels within a specified bounding box. Max span: |dLat| + |dLon| ≤ 4 degrees",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Vessels"
                ],
                "summary": "Get vessels within a bounding box",
                "parameters": [
                    {
                        "type": "number",
                        "example": 4,
                        "description": "Longitude of the left (western) edge of the bounding box",
                        "name": "filter.lonLeft",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "example": 5,
                        "description": "Longitude of the right (eastern) edge of the bounding box",
                        "name": "filter.lonRight",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "example": 51,
                        "description": "Latitude of the bottom (southern) edge of the bounding box",
                        "name": "filter.latBottom",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "example": 52,
                        "description": "Latitude of the top (northern) edge of the bounding box",
                        "name": "filter.latTop",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Start timestamp in RFC3339 format (defaults to 2 hours ago)",
                        "name": "time.from",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "End timestamp in RFC3339 format (defaults to current time)",
                        "name": "time.to",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Maximum number of items to return, must be between 0 and 50",
                        "name": "pagination.limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token for next page",
                        "name": "pagination.nextToken",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/VesselsWithinLocationResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/location/vessels/radius": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieves vessels within a specified radius of a given point and and a given time range",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Vessels"
                ],
                "summary": "Get vessels within a radius",
                "parameters": [
                    {
                        "type": "number",
                        "example": 4.5,
                        "description": "Longitude of the center point",
                        "name": "filter.longitude",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "example": 51.5,
                        "description": "Latitude of the center point",
                        "name": "filter.latitude",
                        "in": "query"
                    },
                    {
                        "type": "number",
                        "example": 100000,
                        "description": "Search radius in meters (max 100,000 = 100 km)",
                        "name": "filter.radius",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Start timestamp in RFC3339 format (defaults to 2 hours ago)",
                        "name": "time.from",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "End timestamp in RFC3339 format (defaults to current time)",
                        "name": "time.to",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Maximum number of items to return, must be between 0 and 50",
                        "name": "pagination.limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token for next page",
                        "name": "pagination.nextToken",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/VesselsWithinLocationResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/navtex": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get Navtex messages in a time range",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Navtex Messages"
                ],
                "summary": "Get Navtex messages in a time range",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Start timestamp in RFC3339 format (defaults to 2 hours ago)",
                        "name": "time.from",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "End timestamp in RFC3339 format (defaults to current time)",
                        "name": "time.to",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Maximum number of items to return, must be between 0 and 50",
                        "name": "pagination.limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token for next page",
                        "name": "pagination.nextToken",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/NavtexMessagesResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/port/{unlocode}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieves port details by its UN/LOCODE (e.g., NLRTM for Rotterdam, SGSIN for Singapore)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Ports"
                ],
                "summary": "Get Port by UNLOCODE",
                "parameters": [
                    {
                        "type": "string",
                        "example": "NLRTM",
                        "description": "UN/LOCODE of the port",
                        "name": "unlocode",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PortResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/NotFoundErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/portevents": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get Port Events, such as Arrivals and Departures, in a time range",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Port Events"
                ],
                "summary": "Get Port Events in a time range",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Start timestamp in RFC3339 format (defaults to 2 hours ago)",
                        "name": "time.from",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "End timestamp in RFC3339 format (defaults to current time)",
                        "name": "time.to",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Maximum number of items to return, must be between 0 and 50",
                        "name": "pagination.limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token for next page",
                        "name": "pagination.nextToken",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PortEventsResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/portevents/port/{unlocode}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get Port Events, such as Arrivals and Departures by supplying the port UN/LOCODE (e.g., NLRTM for Rotterdam, SGSIN for Singapore)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Port Events"
                ],
                "summary": "Get Port Events by port UNLOCODE",
                "parameters": [
                    {
                        "type": "string",
                        "example": "NLRTM",
                        "description": "UN/LOCODE of the port",
                        "name": "unlocode",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Maximum number of items to return, must be between 0 and 50",
                        "name": "pagination.limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token for next page",
                        "name": "pagination.nextToken",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PortEventsResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/portevents/ports": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get Port Events, such as Arrivals and Departures by supplying the port name",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Port Events"
                ],
                "summary": "Get Port Events by port name",
                "parameters": [
                    {
                        "type": "string",
                        "example": "\"Rotterdam\"",
                        "description": "Port name",
                        "name": "filter.portName",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Maximum number of items to return, must be between 0 and 50",
                        "name": "pagination.limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token for next page",
                        "name": "pagination.nextToken",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PortEventsResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/portevents/vessel/{id}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get all port events (arrivals and departures) for a vessel identified by MMSI or IMO, with optional filtering by event type and time range",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Port Events"
                ],
                "summary": "Get Port Events by Vessel ID",
                "parameters": [
                    {
                        "type": "string",
                        "example": "232003239",
                        "description": "MMSI or IMO number",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "enum": [
                            "mmsi",
                            "imo"
                        ],
                        "type": "string",
                        "description": "Identifier type (mmsi or imo)",
                        "name": "filter.idType",
                        "in": "query",
                        "required": true
                    },
                    {
                        "enum": [
                            "arrival",
                            "departure",
                            "all"
                        ],
                        "type": "string",
                        "default": "all",
                        "description": "Filter by event type",
                        "name": "filter.eventType",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "asc",
                            "desc"
                        ],
                        "type": "string",
                        "default": "desc",
                        "description": "Sort order by timestamp",
                        "name": "filter.sortOrder",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Start timestamp in RFC3339 format (defaults to 2 hours ago)",
                        "name": "time.from",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "End timestamp in RFC3339 format (defaults to current time)",
                        "name": "time.to",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Maximum number of items to return, must be between 0 and 50",
                        "name": "pagination.limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token for next page",
                        "name": "pagination.nextToken",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PortEventsResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/portevents/vessel/{id}/last": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get the most recent port event (arrival or departure) for a vessel identified by MMSI or IMO",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Port Events"
                ],
                "summary": "Get Last Port Event by ID",
                "parameters": [
                    {
                        "type": "string",
                        "example": "232003239",
                        "description": "MMSI or IMO number",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "enum": [
                            "mmsi",
                            "imo"
                        ],
                        "type": "string",
                        "description": "Identifier type (mmsi or imo)",
                        "name": "filter.idType",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PortEventResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/NotFoundErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/portevents/vessels": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get Port Events by vessel name",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Port Events"
                ],
                "summary": "Get Port Events by vessel name",
                "parameters": [
                    {
                        "type": "string",
                        "example": "\"strangford 2\"",
                        "description": "Vessel name",
                        "name": "filter.vesselName",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Maximum number of items to return, must be between 0 and 50",
                        "name": "pagination.limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token for next page",
                        "name": "pagination.nextToken",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PortEventsResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/search/dgps": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieves a list of DGPS stations for the given query parameters",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Navigation Infrastructure"
                ],
                "summary": "Search for DGPS Stations",
                "parameters": [
                    {
                        "type": "string",
                        "example": "\"Hammer Odde\"",
                        "description": "Name of the DGPS station",
                        "name": "filter.name",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Maximum number of items to return, must be between 0 and 50",
                        "name": "pagination.limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token for next page",
                        "name": "pagination.nextToken",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/FindDGPSStationsResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/search/lightaids": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieves a list of Light Aids to Navigation for the given query parameters",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Navigation Infrastructure"
                ],
                "summary": "Search for Light Aids to Navigation",
                "parameters": [
                    {
                        "type": "string",
                        "example": "\"Creach\"",
                        "description": "Name of the Light Aid",
                        "name": "filter.name",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Maximum number of items to return, must be between 0 and 50",
                        "name": "pagination.limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token for next page",
                        "name": "pagination.nextToken",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/FindLightAidsResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/search/modus": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieves a list of MODUs for the given query parameters",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Navigation Infrastructure"
                ],
                "summary": "Search for MODUs",
                "parameters": [
                    {
                        "type": "string",
                        "example": "\"ABAN\"",
                        "description": "Name of the MODU",
                        "name": "filter.name",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Maximum number of items to return, must be between 0 and 50",
                        "name": "pagination.limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token for next page",
                        "name": "pagination.nextToken",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/FindMODUsResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/search/ports": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieves a list of ports for the given query parameters",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Ports"
                ],
                "summary": "Search for Ports",
                "parameters": [
                    {
                        "type": "string",
                        "example": "\"Rotterdam\"",
                        "description": "Name of the port",
                        "name": "filter.name",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Maximum number of items to return, must be between 0 and 50",
                        "name": "pagination.limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token for next page",
                        "name": "pagination.nextToken",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/FindPortsResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/search/radiobeacons": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieves a list of Radio Beacons for the given query parameters",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Navigation Infrastructure"
                ],
                "summary": "Search for Radio Beacons",
                "parameters": [
                    {
                        "type": "string",
                        "example": "\"Brighton\"",
                        "description": "Name of the Radio Beacon",
                        "name": "filter.name",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Maximum number of items to return, must be between 0 and 50",
                        "name": "pagination.limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token for next page",
                        "name": "pagination.nextToken",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/FindRadioBeaconsResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/search/vessels": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieves a list of vessels by name or callsign. Provide either filter.name or filter.callsign (at least one is required).",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Vessels"
                ],
                "summary": "Search for Vessels",
                "parameters": [
                    {
                        "type": "string",
                        "example": "\"EVER GIVEN\"",
                        "description": "Name of the vessel",
                        "name": "filter.name",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "\"H3RC\"",
                        "description": "Radio callsign of the vessel",
                        "name": "filter.callsign",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Maximum number of items to return, must be between 0 and 50",
                        "name": "pagination.limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token for next page",
                        "name": "pagination.nextToken",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/FindVesselsResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/vessel/{id}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieves static vessel data including name, type, dimensions, and registration information for a vessel identified by its MMSI or IMO number",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Vessels"
                ],
                "summary": "Get vessel information by MMSI or IMO",
                "parameters": [
                    {
                        "type": "string",
                        "example": "232003239",
                        "description": "MMSI or IMO number",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "enum": [
                            "mmsi",
                            "imo"
                        ],
                        "type": "string",
                        "example": "mmsi",
                        "description": "Identifier type: 'mmsi' or 'imo'",
                        "name": "filter.idType",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/VesselResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/NotFoundErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/vessel/{id}/casualties": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieves marine casualty records involving the specified vessel",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Safety \u0026 Compliance"
                ],
                "summary": "Get marine casualties involving a vessel",
                "parameters": [
                    {
                        "type": "string",
                        "example": "9321483",
                        "description": "MMSI or IMO number",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "enum": [
                            "mmsi",
                            "imo"
                        ],
                        "type": "string",
                        "example": "imo",
                        "description": "Identifier type: 'mmsi' or 'imo'",
                        "name": "filter.idType",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Maximum number of items to return, must be between 0 and 50",
                        "name": "pagination.limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Pagination token for retrieving the next page of results",
                        "name": "pagination.nextToken",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MarineCasualtiesResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/NotFoundErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/vessel/{id}/classification": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieves vessel classification data including identification, ownership, certificates, surveys, and technical specifications",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Vessel Enrichment"
                ],
                "summary": "Get classification data for a vessel",
                "parameters": [
                    {
                        "type": "string",
                        "example": "9121998",
                        "description": "MMSI or IMO number",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "enum": [
                            "mmsi",
                            "imo"
                        ],
                        "type": "string",
                        "example": "imo",
                        "description": "Identifier type: 'mmsi' or 'imo'",
                        "name": "filter.idType",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ClassificationResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/NotFoundErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
[...]
