{
    "swagger": "2.0",
    "info": {
        "description": "Maritime vessel tracking and marine navigation data API providing real-time AIS data, vessel information, port events, and nautical infrastructure locations. Every response carries an X-Request-ID header; authenticated responses also carry X-RateLimit-Remaining (remaining monthly quota, or \"Unlimited\"). 429 responses have two causes: monthly quota exhausted, or more than 20 concurrent in-flight requests (Retry-After: 1). Any authenticated endpoint can return 403 when the API key is temporarily suspended for sustained quota abuse (the Retry-After header gives the wait). Unknown query parameters are rejected with 400.",
        "title": "Vessel Tracking API",
        "contact": {},
        "version": "1.0"
    },
    "host": "api.vesselapi.com",
    "paths": {
        "/emissions": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieves emissions data with optional filtering by reporting period",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Regulatory Records"
                ],
                "summary": "List emissions data",
                "parameters": [
                    {
                        "type": "integer",
                        "example": 2024,
                        "description": "Reporting year filter (e.g. 2024)",
                        "name": "filter.period",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Maximum number of items to return, must be between 1 and 50",
                        "name": "pagination.limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Pagination token for retrieving the next page of results",
                        "name": "pagination.nextToken",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/VesselEmissionsResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "403": {
                        "description": "API key temporarily suspended for sustained quota abuse; see Retry-After header",
                        "schema": {
                            "$ref": "#/definitions/ForbiddenErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/location/dgps/bounding-box": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieves Dgps stations within a specified bounding box. Max span: |dLat| + |dLon| ≤ 4 degrees",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Navigation Infrastructure"
                ],
                "summary": "Get DGPS Stations within a bounding box",
                "parameters": [
                    {
                        "type": "number",
                        "example": 7,
                        "description": "Longitude of the left (western) edge of the bounding box",
                        "name": "filter.lonLeft",
                        "in": "query",
                        "required": true,
                        "format": "double"
                    },
                    {
                        "type": "number",
                        "example": 9,
                        "description": "Longitude of the right (eastern) edge of the bounding box",
                        "name": "filter.lonRight",
                        "in": "query",
                        "required": true,
                        "format": "double"
                    },
                    {
                        "type": "number",
                        "example": 55,
                        "description": "Latitude of the bottom (southern) edge of the bounding box",
                        "name": "filter.latBottom",
                        "in": "query",
                        "required": true,
                        "format": "double"
                    },
                    {
                        "type": "number",
                        "example": 56,
                        "description": "Latitude of the top (northern) edge of the bounding box",
                        "name": "filter.latTop",
                        "in": "query",
                        "required": true,
                        "format": "double"
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Maximum number of items to return, must be between 1 and 50",
                        "name": "pagination.limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token for next page",
                        "name": "pagination.nextToken",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DGPSStationsWithinLocationResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "403": {
                        "description": "API key temporarily suspended for sustained quota abuse; see Retry-After header",
                        "schema": {
                            "$ref": "#/definitions/ForbiddenErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/location/dgps/radius": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieves Dgps stations within a specified radius of a given point",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Navigation Infrastructure"
                ],
                "summary": "Get DGPS Stations within a radius",
                "parameters": [
                    {
                        "type": "number",
                        "example": 8.084,
                        "description": "Longitude of the center point",
                        "name": "filter.longitude",
                        "in": "query",
                        "required": true,
                        "format": "double"
                    },
                    {
                        "type": "number",
                        "example": 55.558,
                        "description": "Latitude of the center point",
                        "name": "filter.latitude",
                        "in": "query",
                        "required": true,
                        "format": "double"
                    },
                    {
                        "type": "number",
                        "example": 10000,
                        "description": "Search radius in meters (max 100,000 = 100 km)",
                        "name": "filter.radius",
                        "in": "query",
                        "required": true,
                        "format": "double"
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Maximum number of items to return, must be between 1 and 50",
                        "name": "pagination.limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token for next page",
                        "name": "pagination.nextToken",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DGPSStationsWithinLocationResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "403": {
                        "description": "API key temporarily suspended for sustained quota abuse; see Retry-After header",
                        "schema": {
                            "$ref": "#/definitions/ForbiddenErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/location/lightaids/bounding-box": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieves Light Aids to Navigation within a specified bounding box. Max span: |dLat| + |dLon| ≤ 4 degrees",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Navigation Infrastructure"
                ],
                "summary": "Get Light Aids to Navigation within a bounding box",
                "parameters": [
                    {
                        "type": "number",
                        "example": 4,
                        "description": "Longitude of the left (western) edge of the bounding box",
                        "name": "filter.lonLeft",
                        "in": "query",
                        "required": true,
                        "format": "double"
                    },
                    {
                        "type": "number",
                        "example": 5,
                        "description": "Longitude of the right (eastern) edge of the bounding box",
                        "name": "filter.lonRight",
                        "in": "query",
                        "required": true,
                        "format": "double"
                    },
                    {
                        "type": "number",
                        "example": 51,
                        "description": "Latitude of the bottom (southern) edge of the bounding box",
                        "name": "filter.latBottom",
                        "in": "query",
                        "required": true,
                        "format": "double"
                    },
                    {
                        "type": "number",
                        "example": 52,
                        "description": "Latitude of the top (northern) edge of the bounding box",
                        "name": "filter.latTop",
                        "in": "query",
                        "required": true,
                        "format": "double"
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Maximum number of items to return, must be between 1 and 50",
                        "name": "pagination.limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token for next page",
                        "name": "pagination.nextToken",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/LightAidsWithinLocationResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "403": {
                        "description": "API key temporarily suspended for sustained quota abuse; see Retry-After header",
                        "schema": {
                            "$ref": "#/definitions/ForbiddenErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/location/lightaids/radius": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieves Light Aids to Navigation within a specified radius of a given point",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Navigation Infrastructure"
                ],
                "summary": "Get Light Aids to Navigation within a radius",
                "parameters": [
                    {
                        "type": "number",
                        "example": 4.5,
                        "description": "Longitude of the center point",
                        "name": "filter.longitude",
                        "in": "query",
                        "required": true,
                        "format": "double"
                    },
                    {
                        "type": "number",
                        "example": 51.5,
                        "description": "Latitude of the center point",
                        "name": "filter.latitude",
                        "in": "query",
                        "required": true,
                        "format": "double"
                    },
                    {
                        "type": "number",
                        "example": 100000,
                        "description": "Search radius in meters (max 100,000 = 100 km)",
                        "name": "filter.radius",
                        "in": "query",
                        "required": true,
                        "format": "double"
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Maximum number of items to return, must be between 1 and 50",
                        "name": "pagination.limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token for next page",
                        "name": "pagination.nextToken",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/LightAidsWithinLocationResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "403": {
                        "description": "API key temporarily suspended for sustained quota abuse; see Retry-After header",
                        "schema": {
                            "$ref": "#/definitions/ForbiddenErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/location/modu/bounding-box": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieves Mobile Offshore Drilling Units within a specified bounding box. Max span: |dLat| + |dLon| ≤ 4 degrees",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Navigation Infrastructure"
                ],
                "summary": "Get Mobile Offshore Drilling Units within a bounding box",
                "parameters": [
                    {
                        "type": "number",
                        "example": -89,
                        "description": "Longitude of the left (western) edge of the bounding box",
                        "name": "filter.lonLeft",
                        "in": "query",
                        "required": true,
                        "format": "double"
                    },
                    {
                        "type": "number",
                        "example": -88,
                        "description": "Longitude of the right (eastern) edge of the bounding box",
                        "name": "filter.lonRight",
                        "in": "query",
                        "required": true,
                        "format": "double"
                    },
                    {
                        "type": "number",
                        "example": 28,
                        "description": "Latitude of the bottom (southern) edge of the bounding box",
                        "name": "filter.latBottom",
                        "in": "query",
                        "required": true,
                        "format": "double"
                    },
                    {
                        "type": "number",
                        "example": 29,
                        "description": "Latitude of the top (northern) edge of the bounding box",
                        "name": "filter.latTop",
                        "in": "query",
                        "required": true,
                        "format": "double"
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Maximum number of items to return, must be between 1 and 50",
                        "name": "pagination.limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token for next page",
                        "name": "pagination.nextToken",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MODUsWithinLocationResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "403": {
                        "description": "API key temporarily suspended for sustained quota abuse; see Retry-After header",
                        "schema": {
                            "$ref": "#/definitions/ForbiddenErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/location/modu/radius": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieves Mobile Offshore Drilling Units within a specified radius of a given point",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Navigation Infrastructure"
                ],
                "summary": "Get Mobile Offshore Drilling Units within a radius",
                "parameters": [
                    {
                        "type": "number",
                        "example": -88.5,
                        "description": "Longitude of the center point",
                        "name": "filter.longitude",
                        "in": "query",
                        "required": true,
                        "format": "double"
                    },
                    {
                        "type": "number",
                        "example": 28.2,
                        "description": "Latitude of the center point",
                        "name": "filter.latitude",
                        "in": "query",
                        "required": true,
                        "format": "double"
                    },
                    {
                        "type": "number",
                        "example": 50000,
                        "description": "Search radius in meters (max 100,000 = 100 km)",
                        "name": "filter.radius",
                        "in": "query",
                        "required": true,
                        "format": "double"
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Maximum number of items to return, must be between 1 and 50",
                        "name": "pagination.limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token for next page",
                        "name": "pagination.nextToken",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MODUsWithinLocationResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "403": {
                        "description": "API key temporarily suspended for sustained quota abuse; see Retry-After header",
                        "schema": {
                            "$ref": "#/definitions/ForbiddenErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/location/ports/bounding-box": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieves Ports within a specified bounding box. Max span: |dLat| + |dLon| ≤ 4 degrees",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Ports"
                ],
                "summary": "Get Ports within a bounding box",
                "parameters": [
                    {
                        "type": "number",
                        "example": 4,
                        "description": "Longitude of the left (western) edge of the bounding box",
                        "name": "filter.lonLeft",
                        "in": "query",
                        "required": true,
                        "format": "double"
                    },
                    {
                        "type": "number",
                        "example": 5,
                        "description": "Longitude of the right (eastern) edge of the bounding box",
                        "name": "filter.lonRight",
                        "in": "query",
                        "required": true,
                        "format": "double"
                    },
                    {
                        "type": "number",
                        "example": 51,
                        "description": "Latitude of the bottom (southern) edge of the bounding box",
                        "name": "filter.latBottom",
                        "in": "query",
                        "required": true,
                        "format": "double"
                    },
                    {
                        "type": "number",
                        "example": 52,
                        "description": "Latitude of the top (northern) edge of the bounding box",
                        "name": "filter.latTop",
                        "in": "query",
                        "required": true,
                        "format": "double"
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Maximum number of items to return, must be between 1 and 50",
                        "name": "pagination.limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token for next page",
                        "name": "pagination.nextToken",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PortsWithinLocationResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "403": {
                        "description": "API key temporarily suspended for sustained quota abuse; see Retry-After header",
                        "schema": {
                            "$ref": "#/definitions/ForbiddenErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/location/ports/radius": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieves Ports within a specified radius of a given point",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Ports"
                ],
                "summary": "Get Ports within a radius",
                "parameters": [
                    {
                        "type": "number",
                        "example": 4.5,
                        "description": "Longitude of the center point",
                        "name": "filter.longitude",
                        "in": "query",
                        "required": true,
                        "format": "double"
                    },
                    {
                        "type": "number",
                        "example": 51.5,
                        "description": "Latitude of the center point",
                        "name": "filter.latitude",
                        "in": "query",
                        "required": true,
                        "format": "double"
                    },
                    {
                        "type": "number",
                        "example": 100000,
                        "description": "Search radius in meters (max 100,000 = 100 km)",
                        "name": "filter.radius",
                        "in": "query",
                        "required": true,
                        "format": "double"
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Maximum number of items to return, must be between 1 and 50",
                        "name": "pagination.limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token for next page",
                        "name": "pagination.nextToken",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PortsWithinLocationResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "403": {
                        "description": "API key temporarily suspended for sustained quota abuse; see Retry-After header",
                        "schema": {
                            "$ref": "#/definitions/ForbiddenErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/location/radiobeacons/bounding-box": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieves Radio Beacons within a specified bounding box. Max span: |dLat| + |dLon| ≤ 4 degrees",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Navigation Infrastructure"
                ],
                "summary": "Get Radio Beacons within a bounding box",
                "parameters": [
                    {
                        "type": "number",
                        "example": -1,
                        "description": "Longitude of the left (western) edge of the bounding box",
                        "name": "filter.lonLeft",
                        "in": "query",
                        "required": true,
                        "format": "double"
                    },
                    {
                        "type": "number",
                        "example": 1,
                        "description": "Longitude of the right (eastern) edge of the bounding box",
                        "name": "filter.lonRight",
                        "in": "query",
                        "required": true,
                        "format": "double"
                    },
                    {
                        "type": "number",
                        "example": 50,
                        "description": "Latitude of the bottom (southern) edge of the bounding box",
                        "name": "filter.latBottom",
                        "in": "query",
                        "required": true,
                        "format": "double"
                    },
                    {
                        "type": "number",
                        "example": 51,
                        "description": "Latitude of the top (northern) edge of the bounding box",
                        "name": "filter.latTop",
                        "in": "query",
                        "required": true,
                        "format": "double"
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Maximum number of items to return, must be between 1 and 50",
                        "name": "pagination.limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token for next page",
                        "name": "pagination.nextToken",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/RadioBeaconsWithinLocationResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "403": {
                        "description": "API key temporarily suspended for sustained quota abuse; see Retry-After header",
                        "schema": {
                            "$ref": "#/definitions/ForbiddenErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/location/radiobeacons/radius": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieves Radio Beacons within a specified radius of a given point",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Navigation Infrastructure"
                ],
                "summary": "Get Radio Beacons within a radius",
                "parameters": [
                    {
                        "type": "number",
                        "example": -0.1,
                        "description": "Longitude of the center point",
                        "name": "filter.longitude",
                        "in": "query",
                        "required": true,
                        "format": "double"
                    },
                    {
                        "type": "number",
                        "example": 50.8,
                        "description": "Latitude of the center point",
                        "name": "filter.latitude",
                        "in": "query",
                        "required": true,
                        "format": "double"
                    },
                    {
                        "type": "number",
                        "example": 100000,
                        "description": "Search radius in meters (max 100,000 = 100 km)",
                        "name": "filter.radius",
                        "in": "query",
                        "required": true,
                        "format": "double"
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Maximum number of items to return, must be between 1 and 50",
                        "name": "pagination.limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token for next page",
                        "name": "pagination.nextToken",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/RadioBeaconsWithinLocationResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "403": {
                        "description": "API key temporarily suspended for sustained quota abuse; see Retry-After header",
                        "schema": {
                            "$ref": "#/definitions/ForbiddenErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/location/vessels/bounding-box": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieves vessels within a specified bounding box and time window. Max bbox span: |dLat| + |dLon| ≤ 4 degrees. Max time window (time.to - time.from): 4 hours; for longer ranges issue sequential 4h calls and stitch results client-side using half-open intervals (one slice's time.to = T, next slice's time.from = T + 1ms) to avoid boundary duplicates. A `nextToken` is only valid when reused with the same `time.from`/`time.to`; the API does not reject mismatched bounds and silently returns rows from the wrong slice.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Vessels"
                ],
                "summary": "Get vessels within a bounding box",
                "parameters": [
                    {
                        "type": "number",
                        "example": 4.8,
                        "description": "Longitude of the left (western) edge of the bounding box",
                        "name": "filter.lonLeft",
                        "in": "query",
                        "required": true,
                        "format": "double"
                    },
                    {
                        "type": "number",
                        "example": 5,
                        "description": "Longitude of the right (eastern) edge of the bounding box",
                        "name": "filter.lonRight",
                        "in": "query",
                        "required": true,
                        "format": "double"
                    },
                    {
                        "type": "number",
                        "example": 51.5,
                        "description": "Latitude of the bottom (southern) edge of the bounding box",
                        "name": "filter.latBottom",
                        "in": "query",
                        "required": true,
                        "format": "double"
                    },
                    {
                        "type": "number",
                        "example": 52,
                        "description": "Latitude of the top (northern) edge of the bounding box",
                        "name": "filter.latTop",
                        "in": "query",
                        "required": true,
                        "format": "double"
                    },
                    {
                        "type": "string",
                        "description": "Start timestamp in RFC3339 format (defaults to 2 hours ago). Max window 4 hours.",
                        "name": "time.from",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "End timestamp in RFC3339 format (defaults to current time). Max window 4 hours.",
                        "name": "time.to",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Maximum number of items to return, must be between 1 and 50",
                        "name": "pagination.limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token for next page",
                        "name": "pagination.nextToken",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/VesselsWithinLocationResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "403": {
                        "description": "API key temporarily suspended for sustained quota abuse; see Retry-After header",
                        "schema": {
                            "$ref": "#/definitions/ForbiddenErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/location/vessels/radius": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieves vessels within a specified radius of a given point and a given time range. Max radius: 100 km. Max time window (time.to - time.from): 4 hours; for longer ranges issue sequential 4h calls and stitch results client-side using half-open intervals (one slice's time.to = T, next slice's time.from = T + 1ms) to avoid boundary duplicates. A `nextToken` is only valid when reused with the same `time.from`/`time.to`; the API does not reject mismatched bounds and silently returns rows from the wrong slice.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Vessels"
                ],
                "summary": "Get vessels within a radius",
                "parameters": [
                    {
                        "type": "number",
                        "example": 4.5,
                        "description": "Longitude of the center point",
                        "name": "filter.longitude",
                        "in": "query",
                        "required": true,
                        "format": "double"
                    },
                    {
                        "type": "number",
                        "example": 51.5,
                        "description": "Latitude of the center point",
                        "name": "filter.latitude",
                        "in": "query",
                        "required": true,
                        "format": "double"
                    },
                    {
                        "type": "number",
                        "example": 10000,
                        "description": "Search radius in meters (max 100,000 = 100 km)",
                        "name": "filter.radius",
                        "in": "query",
                        "required": true,
                        "format": "double"
                    },
                    {
                        "type": "string",
                        "description": "Start timestamp in RFC3339 format (defaults to 2 hours ago). Max window 4 hours.",
                        "name": "time.from",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "End timestamp in RFC3339 format (defaults to current time). Max window 4 hours.",
                        "name": "time.to",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Maximum number of items to return, must be between 1 and 50",
                        "name": "pagination.limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token for next page",
                        "name": "pagination.nextToken",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/VesselsWithinLocationResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "403": {
                        "description": "API key temporarily suspended for sustained quota abuse; see Retry-After header",
                        "schema": {
                            "$ref": "#/definitions/ForbiddenErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/port/{unlocode}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieves port details by its UN/LOCODE (e.g., NLRTM for Rotterdam, SGSIN for Singapore)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Ports"
                ],
                "summary": "Get Port by UNLOCODE",
                "parameters": [
                    {
                        "type": "string",
                        "example": "NLRTM",
                        "description": "UN/LOCODE of the port",
                        "name": "unlocode",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PortResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "403": {
                        "description": "API key temporarily suspended for sustained quota abuse; see Retry-After header",
                        "schema": {
                            "$ref": "#/definitions/ForbiddenErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/NotFoundErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/port/{unlocode}/inbound": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieves vessels heading to a specific port within an ETA window",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Ports"
                ],
                "summary": "Get Inbound Vessels for Port",
                "parameters": [
                    {
                        "type": "string",
                        "example": "DEEME",
                        "description": "UN/LOCODE of the destination port",
                        "name": "unlocode",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Start of ETA arrival window in RFC3339 format (defaults to now)",
                        "name": "filter.etaFrom",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "End of ETA arrival window in RFC3339 format (defaults to 72 hours ahead)",
                        "name": "filter.etaTo",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Report freshness start (defaults to 24 hours ago)",
                        "name": "time.from",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Report freshness end (defaults to current time)",
                        "name": "time.to",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Maximum number of items to return, must be between 1 and 50",
                        "name": "pagination.limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token for next page",
                        "name": "pagination.nextToken",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PortInboundResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "403": {
                        "description": "API key temporarily suspended for sustained quota abuse; see Retry-After header",
                        "schema": {
                            "$ref": "#/definitions/ForbiddenErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/NotFoundErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/portevents": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get Port Events, such as Arrivals and Departures, in a time range with optional filters",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Port Events"
                ],
                "summary": "Get Port Events in a time range",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Start timestamp in RFC3339 format (defaults to 2 hours ago)",
                        "name": "time.from",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "End timestamp in RFC3339 format (defaults to current time)",
                        "name": "time.to",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "\"Singapore\"",
                        "description": "Filter by port country (case-insensitive)",
                        "name": "filter.country",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "\"SGSIN\"",
                        "description": "Filter by port UN/LOCODE",
                        "name": "filter.unlocode",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "arrival",
                            "departure",
                            "all"
                        ],
                        "type": "string",
                        "description": "Filter by event type",
                        "name": "filter.eventType",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "\"EVER GIVEN\"",
                        "description": "Filter by vessel name (full-text search)",
                        "name": "filter.vesselName",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "example": "\"Rotterdam\"",
                        "description": "Filter by port name (full-text search)",
                        "name": "filter.portName",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Maximum number of items to return, must be between 1 and 50",
                        "name": "pagination.limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token for next page",
                        "name": "pagination.nextToken",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PortEventsResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "403": {
                        "description": "API key temporarily suspended for sustained quota abuse; see Retry-After header",
                        "schema": {
                            "$ref": "#/definitions/ForbiddenErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/portevents/port/{unlocode}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get Port Events, such as Arrivals and Departures by supplying the port UN/LOCODE (e.g., NLRTM for Rotterdam, SGSIN for Singapore)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Port Events"
                ],
                "summary": "Get Port Events by port UNLOCODE",
                "parameters": [
                    {
                        "type": "string",
                        "example": "NLRTM",
                        "description": "UN/LOCODE of the port",
                        "name": "unlocode",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Start timestamp in RFC3339 format (defaults to 2 hours ago)",
                        "name": "time.from",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "End timestamp in RFC3339 format (defaults to current time)",
                        "name": "time.to",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Maximum number of items to return, must be between 1 and 50",
                        "name": "pagination.limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token for next page",
                        "name": "pagination.nextToken",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PortEventsResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "403": {
                        "description": "API key temporarily suspended for sustained quota abuse; see Retry-After header",
                        "schema": {
                            "$ref": "#/definitions/ForbiddenErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/NotFoundErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/portevents/ports": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get Port Events, such as Arrivals and Departures by supplying the port name",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Port Events"
                ],
                "summary": "Get Port Events by port name",
                "parameters": [
                    {
                        "type": "string",
                        "example": "\"Rotterdam\"",
                        "description": "Port name",
                        "name": "filter.portName",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Start timestamp in RFC3339 format (defaults to 2 hours ago)",
                        "name": "time.from",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "End timestamp in RFC3339 format (defaults to current time)",
                        "name": "time.to",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Maximum number of items to return, must be between 1 and 50",
                        "name": "pagination.limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token for next page",
                        "name": "pagination.nextToken",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PortEventsResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "403": {
                        "description": "API key temporarily suspended for sustained quota abuse; see Retry-After header",
                        "schema": {
                            "$ref": "#/definitions/ForbiddenErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/portevents/vessel/{id}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get all port events (arrivals and departures) for a vessel identified by MMSI or IMO, with optional filtering by event type and time range",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Port Events"
                ],
                "summary": "Get Port Events by Vessel ID",
                "parameters": [
                    {
                        "type": "string",
                        "example": "232003239",
                        "description": "MMSI or IMO number",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "enum": [
                            "mmsi",
                            "imo"
                        ],
                        "type": "string",
                        "description": "Identifier type (mmsi or imo)",
                        "name": "filter.idType",
                        "in": "query",
                        "required": true
                    },
                    {
                        "enum": [
                            "arrival",
                            "departure",
                            "all"
                        ],
                        "type": "string",
                        "default": "all",
                        "description": "Filter by event type",
                        "name": "filter.eventType",
                        "in": "query"
                    },
                    {
                        "enum": [
                            "asc",
                            "desc"
                        ],
                        "type": "string",
                        "default": "desc",
                        "description": "Sort order by timestamp",
                        "name": "filter.sortOrder",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Start timestamp in RFC3339 format (defaults to 2 hours ago)",
                        "name": "time.from",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "End timestamp in RFC3339 format (defaults to current time)",
                        "name": "time.to",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Maximum number of items to return, must be between 1 and 50",
                        "name": "pagination.limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token for next page",
                        "name": "pagination.nextToken",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PortEventsResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "403": {
                        "description": "API key temporarily suspended for sustained quota abuse; see Retry-After header",
                        "schema": {
                            "$ref": "#/definitions/ForbiddenErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/NotFoundErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/portevents/vessel/{id}/last": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get the most recent port event (arrival or departure) for a vessel identified by MMSI or IMO",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Port Events"
                ],
                "summary": "Get Last Port Event by ID",
                "parameters": [
                    {
                        "type": "string",
                        "example": "232003239",
                        "description": "MMSI or IMO number",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "enum": [
                            "mmsi",
                            "imo"
                        ],
                        "type": "string",
                        "description": "Identifier type (mmsi or imo)",
                        "name": "filter.idType",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PortEventResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "403": {
                        "description": "API key temporarily suspended for sustained quota abuse; see Retry-After header",
                        "schema": {
                            "$ref": "#/definitions/ForbiddenErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/NotFoundErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/portevents/vessels": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Get Port Events by vessel name",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Port Events"
                ],
                "summary": "Get Port Events by vessel name",
                "parameters": [
                    {
                        "type": "string",
                        "example": "\"strangford 2\"",
                        "description": "Vessel name",
                        "name": "filter.vesselName",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Start timestamp in RFC3339 format (defaults to 2 hours ago)",
                        "name": "time.from",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "End timestamp in RFC3339 format (defaults to current time)",
                        "name": "time.to",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Maximum number of items to return, must be between 1 and 50",
                        "name": "pagination.limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token for next page",
                        "name": "pagination.nextToken",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PortEventsResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "403": {
                        "description": "API key temporarily suspended for sustained quota abuse; see Retry-After header",
                        "schema": {
                            "$ref": "#/definitions/ForbiddenErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/search/dgps": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieves a list of DGPS stations for the given query parameters",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Navigation Infrastructure"
                ],
                "summary": "Search for DGPS Stations",
                "parameters": [
                    {
                        "type": "string",
                        "example": "\"Hammer Odde\"",
                        "description": "Name of the DGPS station",
                        "name": "filter.name",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Maximum number of items to return, must be between 1 and 50",
                        "name": "pagination.limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token for next page",
                        "name": "pagination.nextToken",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/FindDGPSStationsResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "403": {
                        "description": "API key temporarily suspended for sustained quota abuse; see Retry-After header",
                        "schema": {
                            "$ref": "#/definitions/ForbiddenErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/search/lightaids": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieves a list of Light Aids to Navigation for the given query parameters",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Navigation Infrastructure"
                ],
                "summary": "Search for Light Aids to Navigation",
                "parameters": [
                    {
                        "type": "string",
                        "example": "\"Creach\"",
                        "description": "Name of the Light Aid",
                        "name": "filter.name",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Maximum number of items to return, must be between 1 and 50",
                        "name": "pagination.limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token for next page",
                        "name": "pagination.nextToken",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/FindLightAidsResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "403": {
                        "description": "API key temporarily suspended for sustained quota abuse; see Retry-After header",
                        "schema": {
                            "$ref": "#/definitions/ForbiddenErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/search/modus": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieves a list of MODUs for the given query parameters",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Navigation Infrastructure"
                ],
                "summary": "Search for MODUs",
                "parameters": [
                    {
                        "type": "string",
                        "example": "\"ABAN\"",
                        "description": "Name of the MODU",
                        "name": "filter.name",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "default": 20,
                        "description": "Maximum number of items to return, must be between 1 and 50",
                        "name": "pagination.limit",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Token for next page",
                        "name": "pagination.nextToken",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/FindMODUsResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/BadRequestErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/AuthenticationErrorResponse"
                        }
                    },
                    "403": {
                        "description": "API key temporarily suspended for sustained quota abuse; see Retry-After header",
                        "schema": {
                            "$ref": "#/definitions/ForbiddenErrorResponse"
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "schema": {
                            "$ref": "#/definitions/RateLimitErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/InternalServerErrorResponse"
                        }
                    }
                }
            }
        },
        "/search/ports": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    }
                ],
                "description": "Retrieves a list of ports matching the given filters. At least one filter parameter is required.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Ports"
                ],
                "summary": "Search for Ports",
                "parameters": [
                    {
                        "type": "string",
                        "example": "\"Rotterdam\"",
                        "description": "Name of the port",
                        "name": "filter.name",
                        "in": "query"
                    },
                    {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi",
[...]
